/* GLOBAL */
body {
  font-family: roboto, sans-serif;
  padding: 0%;
  margin: 0%;
}
/*img {
  width: 50%;
}*/
/* PAGE ACCUEIL*/
.accueil {
  overflow: hidden;
}
.main-container {
  width: 100vw;
  height: 100vh;
}
/* header page accueil */
.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0%;
  margin: 2em 10em;
  list-style: none;
}
.main-nav {
  width: 100%;
}
.main-nav a {
  text-decoration: none;
  padding: 1em;
  text-align: center;
  display: inline-block;
}
.main-menu li.active a {
  color: #eb6505;
}
/*  global header autres pages*/
.logo-header {
  display: flex;
  flex-direction: row;
}
.logo-header img {
  width: 100px;
  margin-left: 10em;
}

/* logo de la page d'accueil*/
.logo {
  /*width: 50%;*/
  width: 300px;
  position: absolute;
  top: 90px;
  padding-top: 15px;
  padding-left: 7em;
}
.logo img {
  width: 90%;
}
/*  CONTENU PAGE D'ACCUEIL */
#accueil {
}
.home-section__content {
  height: 850px;
}

.home-section__content--text {
  text-align: right;
  margin-right: 10em;
  padding-top: 15px;
  color: #264088;
}
.home-section__content__text--title {
  padding-bottom: 10px;
  margin-top: 5px;
}
.home-section__content__text--title h1 {
  font-size: 44px;
  font-weight: bold;
}
.orange-color {
  color: #eb6505;
}
.home-section__content__text--presentation p {
  font-style: italic;
  font-size: 24px;
}
.home-section__content__text--presentation a {
  text-decoration: none;
}
.home-section__content__text--options {
  padding: 45px 0 20px;
}
.home-section__content__text--options p {
  text-align: right;
  font-style: italic;
  font-size: 24px;
}
.home-section__content__text--contact-btn {
  background-color: #264088;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
.home-section__content__text--infos {
  font-weight: bold;
  font-size: 24px;
  font-style: oblique;
  padding-top: 50px;
}
.home-section__content__text--infos a {
  text-decoration: none;
}
.contacter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #264088;
}
.home-section__content--images {
  background-image: url(../img/blue-background-accueil.svg);
  background-repeat: no-repeat;
  position: relative;
  top: -719px;
  width: 974;
  height: 770px;
  /*width: 50vw;*/
  /*height: 50vh;*/
  background-position: bottom left;
}
.home-section__content--images img {
  width: 130px;
  position: absolute;
}
.img1 {
  top: 385px;
  left: 347px;
}
.img2 {
  top: 290px;
  left: 601px;
}
.img3 {
  top: 549px;
  left: 587px;
}
.img4 {
  top: 444px;
  left: 848px;
}

/* PAGE SERVICES */
.services-page__container {
  /*margin: 2em 7em;*/
  color: #264088;
  font-style: oblique;
  /*font-size: 20px;*/
}
.services-page__container h1 {
  font-weight: bold;
}
/* differents services de la coop */

.services-page__container--services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 10em 0 0;
}
.services-page__container--services img {
  padding-right: 50px;
}
.textService {
  text-align: right;
  padding-top: 25px;
}
/* Site internet */
.services-page__container--siteInternet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-page__container--siteInternet img {
  text-align: right;
}
.textSiteinternet {
  margin-left: 10em;
  width: 40%;
}
/* Personal branding */
.services-page__container--personalBranding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 10em 0 0;
}
.services-page__container--personalBranding img {
  padding-right: 50px;
}
.textPersonalbranding {
  text-align: right;
  padding-top: 25px;
}
/* E-commerce/Erp */
.services-page__container--eCommerceErp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-page__container--eCommerceErp img {
  text-align: right;
}
.textEcommerceErp {
  margin-left: 10em;
  width: 40%;
}
/* stratégie digitale*/

.services-page__container--StrategieDigitale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em 10em 0 0;
}
.services-page__container--StrategieDigitale img {
  padding-right: 50px;
}
.textStrategieDigitale {
  text-align: right;
}
/* global page services*/
.services-page__container img {
  background-image: url(/img/mozaique-bottom-left.svg);
  background-repeat: no-repeat;
  width: 500px;
}
/* PAGE ASBL */
.asblContainer {
  margin-left: 10em;
}
.asblContainer__textIntroductif {
  color: #264088;
}
.asblContainer__textIntroductif a {
  color: #eb6505;
  text-decoration: none;
}
.asblContainer__flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Première colonne*/
.flex-content__colonne1 {
  color: #264088;
  width: 45%;
  padding-right: 60px;
}
.flex-content__colonne1 p {
  font-style: oblique;
  font-size: 20px;
  padding-right: 70px;
}
.flex-content__colonne1 h4 {
  font-size: 25px;
  font-style: oblique;
}
.asblContainer__baspage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.baspage__text h1 {
  color: #264088;
}
.baspage__text p {
  color: #264088;
  font-style: oblique;
}
.flex-content__colonne1--backgroundMozaique {
  display: inline-block;
  position: relative;
}
.flex-content__colonne1--backgroundMozaique p {
  position: absolute;
  top: 83px;
  width: 100%;
}
/* deuxième colonne */
.flex-content__colonne2 {
  background-image: url(../img/asbl-background.svg);
  background-repeat: no-repeat;
  /*background-position-x: ;*/
  width: 969px;
  height: 2217px;
  margin-right: 0;
}
.flex-content__colonne2--peopleSvg {
}
.flex-content__colonne2--peopleSvg img {
  width: 926px;
  height: 575px;
}
.flex-content__colonne2--text {
  width: 50%;
  padding-left: 30px;
  padding-top: 350px;
}
.flex-content__colonne2--text p {
  font-style: oblique;
  font-size: 20px;
  color: #ffffff;
}
.flex-content__colonne2--calltoaction p {
  font-style: oblique;
  font-size: 25px;
  width: 50%;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 180px;
}
.flex-content__colonne2--calltoaction a {
  background-image: url(../img/button-orange.svg);
  padding: 15px 25px;
  margin-left: 30px;
  color: #ffffff;
  text-decoration: none;
}
.flex-content__colonne2--rocketSvg img {
  position: relative;
  left: 250px;
  bottom: 63px;
}
