/* global-header */

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0%;
  margin: 2em 7em;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  padding: 1em;
  text-align: center;
  display: inline-block;
}
.main-menu li.current a {
  color: #eb6505;
}
/* fin css header */
/* logo */
.logo {
  width: 80px;
  height: auto;
  top: 90px;
  padding-top: 15px;
  padding-left: 7em;
}

/* home-section ( partie text) */

.home-section__content--text {
  text-align: right;
  margin-right: 7em;
  padding-top: 15px;
  color: #264088;
}
.home-section__content__text--title {
  padding-bottom: 10px;
  margin-top: 5px;
}
.home-section__content__text--title h1 {
  font-size: 2em;
}
.orange-color {
  color: #eb6505;
}
.home-section__content__text--options {
  padding: 25px 0 20px;
}
.home-section__content__text--contact-btn {
  background-color: #264088;
  color: #ffffff;
  text-decoration: none;
}
/* home section (partie images) */
/*.home-section__content--images {
  background-image: url(../img/mozaique-bottom-left.svg);
  background-repeat: no-repeat;
  height: 400px;
}
.home-section__content--images img {
  width: 130px;
  position: relative;
}
.img1 {
  top: 73px;
  left: 230px;
}
.img2 {
  top: 2px;
  left: 337px;
}
.img3 {
  top: 235px;
  left: 86px;
}
.img4 {
  top: 216px;
  left: 186px;
}*/
.home-section__content--images {
  background-image: url(../img/blue-background.svg);
  background-position-x: left 3px;
}
